.nav {
    p{
        font-size: 3vh;
    }
}

body {
    #header-bg{
        #header{
            button {
                font-size: 4vmin;         
                img{
                    width: 5dvh;
                }
            }
        }
    }

    #workspace {
        flex-direction: column;
        height: 80dvh;
        padding-bottom: 8dvh;
        margin-top: 8dvh;

        #leftspace {
            width: 90vw;
            height: 40dvh;
            margin: 0 auto;

            #memory_div {
                height: 15dvh;
            }

            #code_div {
                height: 25dvh;
                #code_nav {
                    button {
                        img {
                            width:6vh;
                        }
                    }
                }
            }
        }

        #rightspace{
            width: 90vw;
            height: 40dvh;
            margin: 0 auto;

            #console_div {
                height:30dvh;
            }

            #input_div {
                height: 12dvh;
            }
        }
    }


    #myPopup{
        p{
            font-size: 2dvh;
        }

        .popup-content {
            .contents {
                width: 70vw;
                #table {

                    table {
                        width: 25vw;
                    }
                }
            }
        }
    }

    #keyboard {
        
        #keyboard-head {
            .Popup_title{
                img {
                    height: 4dvh;
                }

                #keyboard-title {
                    font-size: 3dvh;
                }
            }

        }

        .keyboard-button {      
            button {
                justify-content: center;
                width: 4.0dvh;
                height: 4.0dvh;
                font-size: 2.5dvh;
            }
        }
    }
}